body {
	background-color: #1D3557 !important;
}

.titulo {
	font-weight: bolder;
	font-size: 32px;
}

.sub-titulo {
	font-size: 1.375rem;;
}

.autor {
	font-size: .875rem;
}

h4 {
	color: #457B9D !important
}